.App {
  display: flex;
  justify-content: center;
  
}
body {
    background-color:rgb(67, 95, 84);
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Courier New, monospace;
  background-color: blanchedalmond;
  width: 25rem;
  padding: 2rem;
  margin: 2rem;
  flex-direction: column;
}
.h3-todo{
    text-align: center;
    border-bottom: solid black .05rem;
    width: 20rem;
}
.to-do-form{
    display: flex;
    justify-content: center;
    text-align: center;
}

.img{
    width: 1rem;
}

